h1 {
font-family: 'Song Myung', serif;
color:white;
text-shadow : 3px 3px 10px #FFD752;
}
h2 {
font-family: 'Cormorant Garamond', serif;
color:white;
text-shadow : 3px 3px 10px #FFD752;
}
p {
font-family: 'Nanum Myeongjo', serif;
color:white;
text-shadow : 1px 1px 10px black;
}
